<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257992735986-ev6d8u44dgmhbbjo8svkci6q269ro45u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257992735986-ev6d8u44dgmhbbjo8svkci6q269ro45u</string>
	<key>API_KEY</key>
	<string>AIzaSyAA1XCVL4UZoN8zMA1XwG0UjdA7ACE9aug</string>
	<key>GCM_SENDER_ID</key>
	<string>257992735986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JustTakeCar</string>
	<key>PROJECT_ID</key>
	<string>justtakecar</string>
	<key>STORAGE_BUCKET</key>
	<string>justtakecar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257992735986:ios:96c7d1f6eea10befa1246b</string>
</dict>
</plist>